<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grgbanking.counter.iam.dao.SysSocialUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.grgbanking.counter.iam.api.entity.SysSocialUserEntity">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="login_type" property="loginType" />
        <result column="login_no" property="loginNo" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, login_type, login_no, create_date, create_by, update_date, update_by
    </sql>

</mapper>
