/grg-cloud-counter-app/grg-cloud-counter-app-service/target/
/grg-cloud-counter-app/grg-cloud-counter-app-api/target/
/grg-cloud-counter-device/grg-cloud-counter-device-api/target/
/grg-cloud-counter-device/grg-cloud-counter-device-service/target/
